@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

.side_icon {
  transition: all 200ms linear;
  border-radius: 26px;
  width: 52px;
  height: 52px;
}

.side_icon:hover {
  border-radius: 20px;
}

.title_icon {
  font-family: 'Nunito Sans', sans-serif;
}

.side_icon:active {
  transform: translateY(3px);
  transition-duration: 150ms;
}

.date_picker::-webkit-scrollbar {
  width: 5px;
}

.date_picker::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 25%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.date_picker::-webkit-scrollbar-thumb {
  background-color: #1f1e1e;
  border-radius: 25%;
}

.verification-text {
  opacity: 0;
  transform: translateX(30px); /* Adjust the value as needed */
  animation: fadeInRight 1s ease-out forwards;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(30px); /* Start position */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* End position */
  }
}

.request:last-child {
  border: none !important;
}
