@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Nunito Sans', sans-serif;
}

.side_icon {
  transition: all 200ms linear;
  border-radius: 26px;
  width: 52px;
  height: 52px;
}

.side_icon:hover {
  border-radius: 20px;
}

.title_icon {
  font-family: 'Nunito Sans', sans-serif;
}

.side_icon:active {
  transform: translateY(3px);
  transition-duration: 150ms;
}

.date_picker::-webkit-scrollbar {
  width: 5px;
}

.date_picker::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 25%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.date_picker::-webkit-scrollbar-thumb {
  background-color: rgb(31, 30, 30);
  border-radius: 25%;
}
